<div class="mod_animate" id="J_animateContent">
	<h3 class="cell_title">动画设置</h3>
	<div class="animate_item">
		<label>
			<span class="title">持续时间</span>
			<input type="range" min="0" max="20" value="0" class="animate_range" />
			<input type="number" value="0" min="0" max="20" class="range_num" />s
		</label>
		<label>
			<span class="title">延迟时间</span>
			<input type="range" min="0" max="20" value="0" class="animate_range" />
			<input type="number" value="0" min="0" max="20" class="range_num" />s
		</label>
		<label tooltips="当重复次数为0，为无限循环">
			<span class="title">重复次数</span>
			<input type="range" min="0" max="20" value="0" class="animate_range" />
			<input type="number" value="0" min="0" max="20" class="range_num" />次
		</label>
	</div>
	<h3 class="cell_title">动画类型选择(只能选择一个动画)</h3>
	<div class="animate_item animate_eq">
		<div class="animate_eq_con">
			<div class="animate_list" data-name="noeffect">
				<span class="animate_list_icon animated"></span>
				<span class="animate_list_text">无效果</span>
			</div>
		</div>
	</div>
	<div class="animate_item animate_eq">
		<div class="animate_eq_title">出现动画<i class="more_icon"></i></div>
		<div class="animate_eq_con">
			<div class="animate_list" data-name="zoomIn">
				<span class="animate_list_icon animated zoomIn"></span>
				<span class="animate_list_text">放大进入</span>
			</div>
			<div class="animate_list" data-name="bounceIn">
				<span class="animate_list_icon animated bounceIn"></span>
				<span class="animate_list_text">弹入</span>
			</div>
			<div class="animate_list" data-name="bounceInDown">
				<span class="animate_list_icon animated bounceInDown"></span>
				<span class="animate_list_text">从上弹入</span>
			</div>
			<div class="animate_list" data-name="bounceInUp">
				<span class="animate_list_icon animated bounceInUp"></span>
				<span class="animate_list_text">从下弹入</span>
			</div>
			<div class="animate_list" data-name="bounceInLeft">
				<span class="animate_list_icon animated bounceInLeft"></span>
				<span class="animate_list_text">从左弹入</span>
			</div>
			<div class="animate_list" data-name="bounceInRight">
				<span class="animate_list_icon animated bounceInRight"></span>
				<span class="animate_list_text">从右弹入</span>
			</div>
			<div class="animate_list" data-name="fadeIn">
				<span class="animate_list_icon animated fadeIn"></span>
				<span class="animate_list_text">淡入</span>
			</div>
			<div class="animate_list" data-name="fadeInUp">
				<span class="animate_list_icon animated fadeInUp"></span>
				<span class="animate_list_text">从下淡入</span>
			</div>
			<div class="animate_list" data-name="fadeInDown">
				<span class="animate_list_icon animated fadeInDown"></span>
				<span class="animate_list_text">从上淡入</span>
			</div>
			<div class="animate_list" data-name="fadeInLeft">
				<span class="animate_list_icon animated fadeInLeft"></span>
				<span class="animate_list_text">从左淡入</span>
			</div>
			<div class="animate_list" data-name="fadeInRight">
				<span class="animate_list_icon animated fadeInRight"></span>
				<span class="animate_list_text">从右淡入</span>
			</div>
			<div class="animate_list" data-name="flipInX">
				<span class="animate_list_icon animated flipInX"></span>
				<span class="animate_list_text">X轴转入</span>
			</div>
			<div class="animate_list" data-name="flipInY">
				<span class="animate_list_icon animated flipInY"></span>
				<span class="animate_list_text">Y轴转入</span>
			</div>
			<div class="animate_list" data-name="lightSpeedIn">
				<span class="animate_list_icon animated lightSpeedIn"></span>
				<span class="animate_list_text">光速进入</span>
			</div>
			<div class="animate_list" data-name="rotateIn">
				<span class="animate_list_icon animated rotateIn"></span>
				<span class="animate_list_text">旋转进入</span>
			</div>
			<div class="animate_list" data-name="rotateInDownLeft">
				<span class="animate_list_icon animated rotateInDownLeft"></span>
				<span class="animate_list_text">左向下转</span>
			</div>
			<div class="animate_list" data-name="rotateInDownRight">
				<span class="animate_list_icon animated rotateInDownRight"></span>
				<span class="animate_list_text">右向下转</span>
			</div>
			<div class="animate_list" data-name="rotateInUpLeft">
				<span class="animate_list_icon animated rotateInUpLeft"></span>
				<span class="animate_list_text">左向上转</span>
			</div>
			<div class="animate_list" data-name="rotateInUpRight">
				<span class="animate_list_icon animated rotateInUpRight"></span>
				<span class="animate_list_text">右向上转</span>
			</div>
			<div class="animate_list" data-name="slideInUp">
				<span class="animate_list_icon animated slideInUp"></span>
				<span class="animate_list_text">从下滑入</span>
			</div>
			<div class="animate_list" data-name="slideInDown">
				<span class="animate_list_icon animated slideInDown"></span>
				<span class="animate_list_text">从上滑入</span>
			</div>
			<div class="animate_list" data-name="slideInLeft">
				<span class="animate_list_icon animated slideInLeft"></span>
				<span class="animate_list_text">从左滑入</span>
			</div>
			<div class="animate_list" data-name="slideInRight">
				<span class="animate_list_icon animated slideInRight"></span>
				<span class="animate_list_text">从右滑入</span>
			</div>
			<div class="animate_list" data-name="rollIn">
				<span class="animate_list_icon animated rollIn"></span>
				<span class="animate_list_text">滚入</span>
			</div>
		</div>
	</div>
</div>