<div class="W_editItem"  id="J_imgcomContent">
    <div class="bg-image bg-panel">
        <div class="clearfix bgImgcomWarp">
            <a href="javascript:;" class="fl btn j_choose_bg j_select_bgImgcom">
                选择背景
            </a>
        </div>
        <div class="bg-preview j_crop_preview j_bg_preview">
            <div id="imgcom_canvas" class="img-wrapper" style="width: 171px; height: 270px; margin: 0 auto;">

            </div>
        </div>
        <div class="clearfix j_crop_btns" style="padding:2px 0 5px;width:274px">
            <a href="javascript:;" class="btn btn-gray j_crop_imageImgcom fr">
                剪裁图片
            </a>
        </div>
    </div>
</div>