<!DOCTYPE html>
<html>
<head>
    <title>微信传播</title>
    <link rel="stylesheet" href="/wxms/css/reset.css"/>
    <link rel="stylesheet" href="/wxms/css/index.css"/>
    <script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js"></script>
    <script src="http://image.yihaodianimg.com/mobile-ued/FFF/v0.1.2/yhd_mxc.js"></script>
</head>
<body>
<input type="hidden" id="islogin" value="<%=islogin%>" />
<input type="hidden" id="username" value="<%=username%>" />
<div class="XB_container">
  <div class="XB_header">
    <div class="XB_header_logo">&#xe60b;<span>微信传播模板</span></div>
    <div class="XB_header_item XB_active"><a href="#" class="createrpage">添加项目</a></div>
    <div class="XB_header_item "><a href="#">用户案例</a> </div>
    <div class="XB_header_item">
      <a id="login" href="javascript:;"><%=username%></a>
      <a href="javascript:;" id="logout">&#166;退出</a>
    </div>
    <div class="XB_header_item"><a href="mailto:MXC_wireless@yhd.com?subject=申请账号">申请账号</a></div>
  </div>
  <div class="XB_content">
    <div class="XB_index_lamp">
      <div class="XB_index_lamp_backend"><img src="/wxms/img/index_lamp_backend.png" alt=""/></div>
      <div class="XB_index_lamp_line"><img src="/wxms/img/index_lamp_line.png" alt=""/></div>
      <div class="XB_index_lamp_lamp"><img src="/wxms/img/index_lamp.png" alt=""/></div>
    </div>
    <div class="XB_index_computer">
      <img src="/wxms/img/index_computer.png" class="img" alt=""/>
      <img src="/wxms/img/cloud_1.png" alt="" class="img index_cloud_1"/>
      <img src="/wxms/img/cloud_1.png" alt="" class="img index_cloud_2"/>
      <div class="XB_index_computer_lun">
        <img src="/wxms/img/index_computer_lun.png" alt="" class="img "/>
        <img src="/wxms/img/index_computer_lun_2.png" alt="" class="img XB_index_computer_lun_main"/>
      </div>
    </div>
    <div class="XB_index_ipad">
      <img src="/wxms/img/index_ipad.png" alt="" class="img"/>
    </div>
    <div class="XB_index_fly">
      <img src="/wxms/img/index_fly.png" alt="" class="img"/>
    </div>
    <div class="XB_index_iphone">
      <img src="/wxms/img/index_iphone.png" alt="" class="img"/>
    </div>
    <div class="XB_index_radio">
      <img src="/wxms/img/radio_1.png" alt="" class="img"/>
      <img src="/wxms/img/radio_2.png" alt="" class="img"/>
      <img src="/wxms/img/radio_3.png" alt="" class="img"/>
      <img src="/wxms/img/radio_4.png" alt="" class="img"/>
      <img src="/wxms/img/radio_5.png" alt="" class="img"/>
      <img src="/wxms/img/radio_6.png" alt="" class="img"/>
      <img src="/wxms/img/radio_7.png" alt="" class="img"/>
    </div>
    <div class="XB_index_box_left">
      <img src="/wxms/img/index_box_left.png" alt="" class="img"/>
    </div>
    <div class="XB_index_box_bottom">
      <img src="/wxms/img/index_box_bottom.png" alt="" class="img"/>
    </div>
    <div class="XB_index_floor">
      <div class="XB_index_floor_floor"><img src="/wxms/img/index_floor.png" alt=""/></div>
      <div class="XB_index_floor_shadow"><img src="/wxms/img/index_floor_shadow.png" alt=""/></div>
    </div>
    <div class="XB_footer">
      <div class="XB_footer_title">不同的时代不同的尺寸</div>
      <div class="XB_footer_info">移动化的社交时代，轻快，优雅，我们完美呈现</div>
    </div>
  </div>

</div>
<script src="/wxms/js/index.js"></script>
</body>
</html>
