<div class="" id="J_pageContent">
	<div class="bg-panel j_bg_panel" avalonctrl="bgset">
		<h3 style="margin:0 0 15px" class="clearfix">
			<span class="fl" style="margin:1px 20px 0 0">
				背景颜色设置
			</span>
		</h3>
		<div class="bg-color clearfix">
			<span class="fl" style="font-weight:700;width:70px">
				常用颜色
			</span>
			<div class="fl palette-wrapper j_palette_wrapper">
				<a href="javascript:;" class="palette palette-none" style="background-color:transparent" data-value="transparent">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#b00" data-value="#bb0000">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#ff0000" data-value="#ff0000">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#00b" data-value="#0000bb">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#0000ff" data-value="#0000ff">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#999" data-value="#999999">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#333" data-value="#333333">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#bb0" data-value="#bbbb00">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#b0b" data-value="#bb00bb">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#0bb" data-value="#00bbbb">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#ffff00" data-value="#ffff00">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#5b0f00" data-value="#5b0f00">
				</a>
				<a href="javascript:;" class="palette" style="background-color:#7f6000" data-value="#7f6000">
				</a>
				<div class="sp-replacer sp-light palette palette-custom"></div>
			   </div>
		</div>
		<hr>
		<h3 style="margin:10px 0 15px">
			背景图片
		</h3>
		<div class="bg-image">
			<div class="j_btns clearfix j_crop_btns" style="width:274px">
				<a href="javascript:;" class="fl btn j_choose_bg">
					选择背景
				</a>
				<a href="javascript:;" class="fr btn j_remove_bg">
					删除背景
				</a>
			</div>
			<div class="bg-preview j_crop_preview j_bg_preview">



			</div>

			<div class="clearfix j_crop_btns" style="padding:2px 0 5px;width:274px">
				<a href="javascript:;" class="btn btn-gray j_crop_image fr">
					剪裁图片
				</a>
			</div>
		</div>
	</div>
</div>