<ul>
    <li><a href="#content-1">内容</a></li>
    <li class="item-visible"><a href="#style-2">样式</a></li>
    <li class="item-visible"><a href="#animate-3">动画</a></li>
    <li class="item-visible"><a href="#datasource-4">数据源</a></li>
</ul>
<div id="conten-1">
    <% include page_content.html %>
    <% include btncom_content.html %>
    <% include imgcom_content.html %>
    <% include textcom_content.html %>
</div>
<div id="style-2">
    <% include style_content.html %>
</div>
<div id="animate-3">
	<% include animate_content.html %>
</div>
<div id="datasource-4">
    <% include datasource_content.html %>
</div>


