<div id="selectAudioDialog" style="display: none;">
    <ul>
        <li><a href="#audioWare">音乐库</a></li>
        <li><a href="#userWare">我的音乐</a></li>
    </ul>
    <ul id="audioWare">

    </ul>

    <div id="audiouserWare">
        <input id='audiofile_upload' type="button" name="file" class="button" value="上传">
        <input id='audiofile' type="file" name="fontfile" size="30">
            <div>音乐url:<input id="audiourlval" type="text" /><input id='audiourlbtn' type="button" class="button" value="确定"/></div>
        <ul id="audiouserWareList">
        </ul>
    </div>
</div>
