<div id="selectImgDialog" style="display: none;">
    <ul>
        <li><a href="#imgWarebox">素材中心</a></li>
        <li><a href="#userWare">我的素材</a></li>

    </ul>

    <div id="imgWarebox">
        <ul id="imgCategory">
            <li class="cur" data-category="1">全部</li>
            <li data-category="2">背景</li>
            <li data-category="3">元素</li>
            <li data-category="4">表情</li>
            <li data-category="5">文字</li>
        </ul>
        <ul id="imgWare">

        </ul>
      <div id="imgWarepo"></div>
    </div>


    <div id="userWare">
        <div>
            <input id='file_upload' type="button" name="file" class="button" value="上传">
            <input id='file' type="file" name="fontfile" size="30">
        </div>
        <div>图片url:<input id="imgurlval" type="text"/><input id='imgurlbtn' type="button" class="button" value="确定"/>
        </div>

        <ul id="userWareList">
        </ul>
      <div id="userWareListpo"></div>
    </div>
</div>
