<div id="addPageDailog" class="dd-tmpl" style="display: none;">
    <div class="tmpl-list clearfix j_tmpl_list ps-container ps-active-y">
        <div class="dd-tmpl-nav j_tmpl_nav">
            <a href="javascript:;" class="act" data-double-click="0">默认</a>
        </div>
        <div class="dd-tmpl-cont j_dd_tmpl_cont j_tmpl_default" style="display: block;">
            <div class="tmpl-item j_use_tmpl" tmpl-index="-1" data-double-click="0"> <span class="ti-desc">空白模板</span> </div>
        </div>
    </div>
</div>
