<div id="selectTplDialog" style="display: none;">
    <ul>
        <li><a href="#tplWare">模板中心</a></li>
        <li><a href="#userTplWare">我的模板</a></li>
    </ul>
    <div id="boxWare">
        <ul id="tplCategory">
            <li class="cur" data-category="1">全部</li>
            <li data-category="2">版式</li>
            <li data-category="3">风格</li>
            <li data-category="4">互动</li>
        </ul>
        <ul id="tplWare" >


        </ul>
      <div id="tplWarepo"></div>
    </div>

   <div id="usrbox">
     <ul id="userTplWare">

     </ul>
     <div id="userTplWarepo"></div>
   </div>
  <div class="tplDraw">

  </div>
</div>
