<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>接口测试</title>
    <link rel="stylesheet" href="wxms/tool/quint/qunit-1.17.1.css"/>
</head>
<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

<script src="wxms/tool/quint/qunit-1.17.1.js"></script>

<script type='text/javascript' src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>

<script src="wxms/test/testProject.js"></script>
<script src="wxms/test/testImgs.js"></script>
<script src="wxms/test/testView.js"></script>
<script src="wxms/test/testPage.js"></script>

<script src="wxms/test/testTextcom.js"></script>
<script src="wxms/test/testImgcom.js"></script>

<script src="wxms/test/testBtncom.js"></script>
 

</body>
</html>