<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>单元测试</title>
    <link rel="stylesheet" href="/tool/quint/qunit-1.17.1.css"/>
</head>
<body>

<div id="qunit"></div>
<div id="qunit-fixture"></div>


<script src="/tool/quint/qunit-1.17.1.js"></script>


<script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>

<script src="/test/testProject.js"></script>
<script src="/test/testImgs.js"></script>
<script src="/test/testCreateHtml.js"></script>
<script src="/test/testDownLoadHtml.js"></script>
<script src="/test/testPage.js"></script>

<script src="/test/testTextcom.js"></script>
<script src="/test/testImgcom.js"></script>
 

</body>
</html>