<!DOCTYPE html>
<html>
<head>
    <title>微信传播-预览页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/animate.css"/>

    <style>

        .pageWrap{

        }

        .page{
            background-color: rgba(255, 255, 255, 0.57);
            height: 100%;
            position: relative;
            width: 100%;
        }

        .W_item{
            position: absolute;
            display: inline-flex;
        }

        .W_btn{
            width: 100%;
        }
        .W_imgcom{
            width: 100%;
        }
    </style>
</head>
<body>

<div class="pageWrap">
<% allPage.forEach(function(page){ %>
<div class="page" style="background-color:<%= page.backgroundcolor %>; background-image: <%= page.backgroundimage %>; background-size: cover; background-position: 50% 50%;">
    <% page.btncomtList.forEach(function(btn){ %>
    <div class="W_item" style="animation-name: <%= btn.animationName %>;animation-duration: <%= btn.animationDuration %>;
    animation-delay: <%= btn.animationDelay %>;animation-count: <%= btn.animationCount %>;
        width: <%= btn.width %>;height: <%= btn.height %>;top:<%= btn.top %>;
        left:<%= btn.left %>;">
        <button type="button" class="W_btn"><%= btn.context %></button>
    </div>
    <% }) %>
    <% page.imgcomList.forEach(function(img){ %>
    <div class="W_item"  style="animation-name: <%= img.animationName %>;animation-duration: <%= img.animationDuration %>;
    animation-delay: <%= img.animationDelay %>;animation-count: <%= img.animationCount %>;
        width: <%= img.width %>;height: <%= img.height %>;top:<%= img.top %>;
        left:<%= img.left %>;">
        <img class="W_imgcom" src="<%= img.imgurl %>"/>
    </div>
    <% }) %>
    <% page.textcomList.forEach(function(text){ %>
    <div class="W_item" style="animation-name: <%= text.animationName %>;animation-duration: <%= text.animationDuration %>;
    animation-delay: <%= text.animationDelay %>;animation-count: <%= text.animationCount %>;
        width: <%= text.width %>;height: <%= text.height %>;top:<%= text.top %>;
        left:<%= text.left %>;">
        <div class="W_text"><%= text.context %></div>
    </div>
    <% }) %>
</div>
<% }) %>
</div>

<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
<script>
    var height = $(window).height();
    $('.page').height(height);
</script>
</body>
</html>
